* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
}

.container-headers {
    position: sticky;
    top: 0;
    left: 0;
    min-width: 300px;
    height: 5em;
    background-color: rgb(34, 23, 122);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
}

.header-fill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    height: 5em;
    gap: 10px;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.header-logo span {
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.header-logo input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.5em 1em;
    color: black;
    font-size: 20px;
    width: 100%;
    max-width: 700px;
    display: flex;
    border: none;
    outline: none;
}

.drawer-button {
    display: none;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-menu li {
    color: white;
    font-size: 20px;
    font-weight: semibold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.header-menu li a {
    color: white;
}

@media screen and (max-width: 768px) {
    .container-headers {
        position: sticky;
        top: 0;
        left: 0;
        min-width: 300px;
        height: 5em;
        background-color: rgb(34, 23, 122);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        z-index: 1000;
        overflow: hidden;
    }

    .header-fill {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        height: 5em;
    }
    .header-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .header-logo span {
        color: white;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    .header-logo input {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 0.5em 1em;
        color: black;
        font-size: 20px;
        width: 100%;
        max-width: 700px;
        display: flex;
        border: none;
        outline: none;
    }

    .drawer-button {
        display: block;
        color: white;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .header-menu {
        display: none;
    }

    .header-menu.open {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        position: fixed;
        top: 5em;
        left: 0;
        width: 100%;
        background-color: rgb(34, 23, 122);
        padding: 1em;
        gap: 2em;
        z-index: 1000;
        min-height: 100vh;
    }
}
